django>1.7,<2.0
django-mptt>=0.8.6
django-polymorphic>0.9,<1.3
django-wysiwyg
django-any-urlfield
django-any-imagefield
django-fluent-contents
django-fluent-pages==1.1.2
django-tinymce
docutils
pillow
south

django-model-settings>=0.3
django-model-publisher>=0.1.5

pytz
textile
markdown

pygments

django-contrib-comments

micawber
