django>1.7,<2.0
django-polymorphic>1.2,<2.0
django-fluent-utils<2.0
django-fluent-contents<2.0
django-fluent-pages<2.0

# TODO: replace with upstream version
git+https://github.com/ixc/django-model-settings.git
django-model-publisher>0.1.5
